.icon {
  display: block;

  width: 4px;
  height: 24px;
  padding-left: 20px;

  text-decoration: none;
}

.icon-svg:before {
  position: absolute;
  left: -3px;

  width: 100%;
  height: 100%;

  content: '';

  background-size: cover;

  filter: invert(47%) sepia(12%) saturate(3%) hue-rotate(14deg) brightness(96%) contrast(91%);
}

.icon-svg-white:before {
  position: absolute;
  left: 0px;

  width: 100%;
  height: 100%;

  content: '';

  background-size: cover;

  filter: invert(100%) sepia(0%) saturate(7467%) hue-rotate(91deg) brightness(106%) contrast(96%);
}

.icon-github:before {
  background: url('./../../img/icons/github.svg');
}

.icon-gmail:before {
  background: url('./../../img/icons/gmail.svg');
}

.icon-home:before {
  background: url('./../../img/icons/home.svg');
}

.icon-info:before {
  background: url('./../../img/icons/info.svg');
}

.icon-school:before {
  background: url('./../../img/icons/school.svg');
}

.icon-portfolio:before {
  background: url('./../../img/icons/portfolio.svg');
}

.icon-phone:before {
  background: url('./../../img/icons/phone.svg');
}

.icon-rhombus-filled:before {
  background: url('./../../img/icons/rhombus-filled.svg');
}

.icon-rhombus-lined:before {
  background: url('./../../img/icons/rhombus-lined.svg');
}

.icon-iconmonstr-picture:before {
  background: url('./../../img/icons/iconmonstr-picture.svg');
}